@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #fafaf9;
  position: relative;
}
.card {
    --radius: 16px;
    --gap: 16px;
    --nested-radius: calc(var(--radius) - 2px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 65%;
  padding: var(--gap);
  border-radius: var(--radius);
  background: #fff;
  gap: var(--gap);
  box-shadow: 0px 4px 15px 0 #E5EAF0;
}
.card div {
  width: 100%;
  height: 50%;
  background: inherit;
}
.card .image{
    background: url(./resources/Cactus.jpg) no-repeat center/cover;
    border-radius: var(--nested-radius);
}
.card .text-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card .text-content .tag{
    width: max-content;
    padding: 0.3rem 0.6rem;
    font-size: 0.625rem;
    background: #F2EAFD;
    color: #7C19EE;
    font-weight: bolder;
    border-radius: 10px;
}
.card .text-content .title h3{
    font-size: 1.125rem;
    color: #20293A;
}

.card .text-content .title span{
    font-size: 0.875rem;
    color: #394150;
    font-weight: lighter;
}
hr{
    width: 100%;
    border: none;
    border-top: 1px solid #E5EAF0;
    margin-top: 0.5rem;
}
.author{
    padding-top: 1rem;
    color: #394150;
    font-size: 0.75rem;
}
.author-info{
    content: '';
    position: absolute;
    bottom: 10px;
    text-align: center;
    a{
        color: #394150;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    height: 67%;
  }
}